/* Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* Nunito font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 p,
button,
div,
small,
ul,
li {
  font-family: "Nunito";
}
.thin {
  font-weight: 200;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}

.project-name-input {
  border: none;
  outline: none;
  border-bottom: 2px solid #e6e6e6;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-indent: 0.5rem;
}

.project-name-input:focus {
  border-bottom: 2px solid dodgerblue;
}

.select-tools {
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
}

.my-alert,
.vote-alert {
  width: 95%;
  max-width: 500px;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
}

.my-alert-input {
  width: 100%;
  margin-bottom: 0.8rem;
  border: 1px solid #ccc;
  padding: 0.3rem;
  text-indent: 0.5rem;
  outline: none;
}
.view-answer-box {
  height: 300px;
  overflow-y: scroll;
}

.max-100 {
  width: 100%;
  max-width: 100px;
}
.max-400 {
  width: 100%;
  max-width: 400px;
}
.max-800 {
  width: 100%;
  max-width: 800px;
}

.big-20 {
  font-size: 20rem;
}

.big-icon-container {
  position: absolute;
  z-index: -1;
  transform: rotate(-15deg);
  opacity: 0.035;
}

.account-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: "Nunito";
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-alert {
  position: absolute;
  left: 50%;
  width: 100%;
  max-width: 300px;
  transform: translateX(-50%);
  top: 2rem;
  border-radius: 0.5rem;
}

.logout-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.app-menu::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #343a40;
  position: absolute;
  right: 0;
  top: -10px;
  z-index: 1;
  transform: translateX(-28%) rotate(45deg);
}
.app-menu {
  position: absolute;
  background-color: #343a40;
  right: 0.5rem;
  top: 4.5rem;
  z-index: 10;
  width: 70%;
  max-width: 250px;
}
.app-menu a {
  line-height: 2.6rem;
  list-style: none;
  padding: 0 1rem;
  cursor: pointer;
}
.app-menu a:hover {
  background-color: #007bff;
}

.app-menu .logout-btn:hover {
  background-color: #007bff;
  border: none;
}

.menu-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  z-index: 9;
  cursor: pointer;
  top: 0;
  left: 0;
}

.floating-alert {
  display: none;
  position: absolute;
  z-index: 999;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  -moz-animation: floatingAlert ease-in 5s forwards;
  -webkit-animation: floatingAlert ease-in 5s forwards;
  -o-animation: floatingAlert ease-in 5s forwards;
  animation: floatingAlert ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.floating-alerts .floating-alert:last-of-type {
  display: block;
  position: fixed;
  width: max-content;
}

.report-alert {
  position: fixed;
  top: 3rem;
  z-index: 200;
  left: 50%;
  transform: translateX(-50%);
}
.answer-sheet-marks {
  border: 2px solid #dc3545;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  transform: rotate(-30deg);

  user-select: none;
}
.answer-sheet-marks p {
  font-size: 1.5rem;
  color: #dc3545;
}
.answer-sheet-marks div {
  height: 12px;
  width: 100%;
  background-color: #dc3545;
}
@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}
